{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Polls{% endblock %}</h1>
<a class="action" href="{{ url_for('polls.create') }}">New</a>
{% endblock %}

{% block content %}
{% for poll in polls %}
<article class="poll">
    <header>
        <div>
            <h1>{{ poll['title'] }}</h1>
            <div class="shortDesc">by {{ poll['user'] }}</div>
            <div class="about"> expires on {{ poll['expiration'] }}</div>
        </div>
        <a class="action" href="{{ url_for('polls.poll', pollId=poll['poll_id']) }}">View Full</a>
    </header>
    <div class="choices">
        <h3>Choices</h3>
        <p class="choices">
            {% for key, value in votes[loop.index0].items() %}
            {{ key }} - {{ value }}<br>
            {% endfor %}
        </p>
    </div>
    <div class="description">
        <h3>Description</h3>
        <p class="body">{{ poll['short_description'] }}</p>
    </div>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}